@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100vh;
    width:100%;
    background-color:rgb(113,0,48);
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    height:450px;
    width:600px;
    background-color:rgb(59,1,28);
    border-radius:10px;
    box-shadow: rgba(255,228,196) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.advice{
    text-align: center;
    margin-block:2rem;
    font-size:1rem ;
    font-family: "Libre Baskerville", serif;
    color:bisque;
    font-family: "Noto Serif", serif;
}
.para{
    height:auto;
    width:auto;
    color:white;
    text-align:center; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    padding-inline:60px;
    font-family: "Noto Serif", serif;
}
#para1{
    font-size: 1.5rem;
}
#para2{
    width:100%;
   margin-top:10px;
   font-family: "Dancing Script", serif;
   font-size:1.5rem;
   text-align: end;
}
.pause{
  height:20px;
  width:60%;
  margin-top:30px;
}
.pause{
    height:70px;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    margin-top:40px;
   
}
.hr1{
    height:3px;
    width:70%;
    background-color: bisque;
}
i{
    font-size:1.5rem;
    color:antiquewhite;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    width:70px;
    border-radius: 100%;
    position:absolute;
    bottom:-37px;
    background-color:bisque;
}
.dice{
    color:rgb(59,1,28);
    font-size: 2.5rem;
}
button{
    border:none;
}

@media (max-width:580px) {
     .pause{
        display:none;
     }
}
